################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterceptorProject/.vs/InterceptorProject
/InterceptorProject/packages
/InterceptorProject/x64/Debug
